.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.container h1 {
  font-size: 30px;
  text-align: center;
}

.container h2 {
  font-size: 25px;
}

.container p {
  font-size: 20px;
  text-align: justify;
}

.introduction {
  padding: 20px 20px;
  background-color:#3586ff;
  text-align: justify;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
}

.introduction .title {
  text-align: center;
}

.post-submit {
  padding: 20px 20px;
  padding-bottom: 10px;
  background-color:#3586ff;
  text-align: justify;
  border-radius: 20px;
  color: white;
  margin: 20px 0;
}

[type="submit"] {
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
  border: 0;
  transition: all 0.3s;
}

[type="submit"]:hover {
  color: #3586ff;
  background-color: white;
}
textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.post-location {
  padding: 20px 20px;
  padding-bottom: 10px;
  background-color:#3586ff;
  text-align: justify;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}